@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
/* Tell Tailwind where to find class names in monorepo */
@source "./../../../apps/**/*.{js,ts,jsx,tsx}";
@source "./../../../packages/**/*.{js,ts,jsx,tsx}";

@import '@sume/ui/styles.css';

@theme{
    --font-space:"Space Grotesk", sans-serif;
}
/* If you still have shared config (like theme), include it */

@keyframes pulse-slow {
  0%, 100% { opacity: 0.8; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.05); }
}

@keyframes pulse-medium {
  0%, 100% { opacity: 0.7; transform: scale(1); }
  50% { opacity: 0.9; transform: scale(1.03); }
}

.animate-pulse-slow {
  animation: pulse-slow 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-pulse-medium {
  animation: pulse-medium 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}